.lg-form .username,
.lg-form .password { 
	border:0;
	margin:0; 
	padding: 0 0 0 30px;
	width:300px;
	height:30px; 
	background:no-repeat; 
	_background:no-repeat fixed; 
	line-height:normal; 
	background-image:url(../images/new-lgInput-bg.gif); 
	*line-height:30px;  
	vertical-align:middle;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.ie6 .lg-form .username,
.ie6 .lg-form .password,
.ie7 .lg-form .username,
.ie7 .lg-form .password,
.ie8 .lg-form .username,
.ie8 .lg-form .password { width:270px;}
